

*{
    box-sizing: border-box;
}
a{
	text-decoration: none;
	text-decoration-color: none;
	color: whitesmoke;
}
body a{
	text-decoration: none;
	
	-webkit-transition: 0.5s all;
}
p{
	margin: 0;
    padding: 0;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.9;
    color: #999;
    font-family: 'Source Sans Pro', sans-serif;
}
.navb{
    -moz-background-size: cover;
	opacity: 1;
}
.cover {
	background: url(../assets/backgroun1new.jpg) no-repeat center;
	background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height: 50vw;
    position: relative;
}
.cover2{
	background: url(../assets/back2new.png) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height: 800px;
}

body {
    padding: 0;
    margin: 0;
    background: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
}


.mytext1 {
    color: #fff;
    font-size: 3em;
    font-weight: 800;
    
    position: relative;
    animation: text 3s 3;
    
    padding-left: 1.5em
}

.mytext2 {
    font-size: 2em;
    color: #ff3f4d;
    
    font-weight: 800;
    animation: text 3s 1;
    text-shadow: 0px 1em 1em rgba(0, 0, 0, 0.44);
}
.profdevelopment{
	color: rgb(129, 117, 117);
	font-size: 30px;
	font-weight: 800;
	letter-spacing: 2px;
	 animation: text 1s 1;
}
header{ 
    background: url(../assets/macbacknew.jpg) no-repeat top;
    background-size: cover;

}
.sticky{
	position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 3px 4px 3px #999;
	right: 10px;
    z-index: 100;
	
	
}




ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoRss:hover {
	background-color: red;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.social-network a.icoGoogle:hover {
	background-color:#FF0000;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoCall:hover {
	background-color:#00FF00;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoCall:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: #D3D3D3;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
.footer{
	color: #fff;
}
.footer-brand{
    font-size: 36px;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.18);
	font-family: 'Pacifico', cursive;
}
.services{
	color: #fff;
	font-size: 36px;
	padding-top: 0.5em;
	font-family: 'Ubuntu', sans-serif;
}
.cover3{
	background: url(../assets/Background1.jpg)  no-repeat center; 
	background-size: cover;
	-webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height: 50vw;
    position: relative;
}
.fade-in{
	opacity: 0;
	transition: opacity 250ms ease-in;	
	 
}
.fade-in.appear{
	opacity: 1;
	
}
.border-style{
	border-top: brown;
	border-radius: 5px;
}

@media only screen and (max-width:468px){
	.profdevelopment{
		font-size: 25px;
		font-weight: 800;
		letter-spacing: 1.5px;
		
	}
}
@media only screen and (max-width:394px){
	.mytext1{
		font-size: 35px;


	}
} 
@media only screen and (max-width: 468px){
	.mytext2{
		font-size: 25px;
		


	}
} 
@media only screen and (max-width: 380px){
	.social-circle li a{
	width: 37.5px;
	height: 37.5px;
	font-size:15px;

	}
}
@media only screen and (max-width:380px){
	.social-circle li i{
		line-height: 37.5px;
	}
}
